<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= button_to "Show this user", user , method: :get %>
    </p>
  <% end %>
</div>

<%= button_to "New user", new_user_path , method: :get %>
