<div class="container mt-4">
  <%= render @user %>

  <div class="d-flex justify-content-center gap-2 mt-4">
    <%= button_to users_path, method: :get, class: "btn btn-outline-primary mt-4" do %>
      <i class="bi bi-arrow-left me-1"></i>Back to Users
    <% end %>
  </div>
</div>
